{% extends 'globus-portal-framework/v2/search-about.html' %}

{% block body %}

<div class="row">
  <div class="col">
    <h2 class="text-center mt-3 mb-5">{{project_title}}</h2>
  </div>
</div>


<div class="row mb-5">
  <div class="col"></div>
  <div class="col-10">

    <div>
      {% block landing_page_about %}
      
      <h2>Material Descriptor Database (MDDB)</h2>

      <p class="lead font-weight-bolder">
        MDDB provides information on symmetry/phase labels (SPL), 
        sample descriptors (DSC), material properties (PRO), 
        material applications (APL), synthesis methods (SMT), 
        and characterization methods (CMT) for inorganic materials. 
        The data are automatically extracted from the over 10 million English language 
        materials-related publications with ScholarBERT, a large language model for science, 
        fine-tuned on the Solid State Materials dataset.
      </p>

      <p class="lead font-weight-bolder">
        If you use the data, please cite the following article:
      </p>
      <p>
        Hong, Zhi, Aswathy Ajith, Gregory Pauloski, Eamon Duede, Kyle Chard, and Ian Foster. "The Diminishing Returns of Masked Language Models to Science." <em>arXiv preprint arXiv:2205.11342</em> (2023).
      </p>

      <!-- <img src="https://g-7581c.fd635.8443.data.globus.org/portal/public/APS_aerial.jpeg" width="50%"> -->
      
      {% endblock %}
    </div>
  </div>
  <div class="col"></div>
</div>

{% endblock %}